<main class="principal">
  <h2 class="principal__titulo">Dados do cadastro</h2>

  <form class="principal__formulario" id="formulario" #f="ngForm" (ngSubmit)="cadastrar(f)">
    <h3 class="principal__subtitulo">Dados pessoais</h3>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="nome">Nome Completo</label>
      <input ngModel #nome="ngModel" name="nome" id="nome" class="campo__escrita" required minlength="2">
      <div *ngIf="(nome?.invalid && nome?.touched) || nome?.dirty">
        <app-mensagem *ngIf="nome?.errors?.['required']" mensagem="O campo nome deve ser preenchido"></app-mensagem>
        <app-mensagem *ngIf="nome?.errors?.['minlength']"
          mensagem="O nome precisa ter no mínimo 2 caracteres"></app-mensagem>
      </div>
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="nascimento">Nascimento</label>
        <input ngModel #nascimento="ngModel" name="nascimento" id="nascimento" type="date" class="campo__escrita"
          required maiorIdadeValidator />
        <div *ngIf="(nascimento?.invalid && nascimento?.touched) || nascimento?.dirty">
          <app-mensagem *ngIf="nascimento?.errors?.['required']"
            mensagem="O campo nascimento deve ser preenchido"></app-mensagem>
          <app-mensagem *ngIf="nascimento?.errors?.['maiorIdadeValidator']"
            mensagem="O usuário deve ser maior de idade"></app-mensagem>
        </div>
      </div>
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="telefone">Contato</label>
        <input ngModel #telefone="ngModel" name="telefone" id="telefone" type="tel" placeholder="(XX) XXXXX-XXXX"
          class="campo__escrita" required pattern="(\(?\d{2}\)?\s?)(\d{5}\-?\d{4})" />
        <div *ngIf="(telefone?.invalid && telefone?.touched) || telefone?.dirty">
          <app-mensagem *ngIf="telefone?.errors?.['required']"
            mensagem="O campo telefone deve ser preenchido"></app-mensagem>
          <app-mensagem *ngIf="telefone?.errors?.['pattern']"
            mensagem="O campo de telefone deve conter DD com 2 digitos e numero com 9 digitos"></app-mensagem>
        </div>
      </div>
    </div>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="email">E-mail</label>
      <input ngModel #mail="ngModel" name="email" id="email" type="email" class="campo__escrita" required
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
    </div>
    <div *ngIf="(mail?.invalid && mail?.touched) || mail?.dirty">
      <app-mensagem *ngIf="mail?.errors?.['required']" mensagem="O campo email deve ser preenchido"></app-mensagem>
      <app-mensagem *ngIf="mail?.errors?.['pattern']"
        mensagem="O campo de email deve seguir este padrão exemplo: email@dominio.com"></app-mensagem>
    </div>


    <h3 class="principal__subtitulo">Endereço</h3>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="cep">CEP</label>
      <input ngModel #cep="ngModel" name="cep" id="cep" class="campo__escrita" required pattern="^(\d{5})(-?\d{3})$"
        minlength="8" maxlength="9" (blur)="consultaCEP($event, f)" validandoCep />
      <div *ngIf="(cep?.invalid && cep?.touched) || cep?.dirty">
        <app-mensagem *ngIf="cep?.errors?.['required']" mensagem="O campo cep deve ser preenchido"></app-mensagem>
        <app-mensagem *ngIf="cep?.errors?.['pattern']"
          mensagem="O campo CEP deve seguir este exemplo: 00000-000"></app-mensagem>
        <app-mensagem *ngIf="cep?.errors?.['validandoCep']" mensagem="O CEP informado é invalido"></app-mensagem>
      </div>
    </div>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="endereco">Endereço</label>
      <input ngModel #endereco name="endereco" id="endereco" class="campo__escrita" />
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="numero">Numero</label>
        <input ngModel #numero="ngModel" name="numero" id="numero" class="campo__escrita" required />
        <div *ngIf="(numero?.invalid && numero?.touched) || numero?.dirty">
          <app-mensagem *ngIf="numero?.errors?.['required']"
            mensagem="O campo numero deve ser preenchido"></app-mensagem>
        </div>
      </div>
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="complemento">Complemento</label>
        <input ngModel #complemento name="complemento" id="complemento" class="campo__escrita" />
      </div>
    </div>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="bairro">Bairro</label>
      <input ngModel #bairro name="bairro" id="bairro" class="campo__escrita" />
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="cidade">Cidade</label>
        <input ngModel #cidade name="cidade" id="cidade" class="campo__escrita" />
      </div>

      <div class="formulario__campo">
        <label class="campo__etiqueta" for="estado">UF</label>
        <select ngModel #cidade name="estado" id="estado" name="estado" class="campo__escrita">
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
          <option value="EX">Estrangeiro</option>
        </select>
      </div>

    </div>
    <button type="submit" class="formulario__botao">Enviar formulário</button>
  </form>
</main>